* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { background-color: #ACF39D;
}



.status-disponivel{
    color: green !important;
    font-weight: bolder;
}

.status-esgotado{
    color: red !important;
    font-weight: bolder;

}
.status-vencido{
    color: grey !important;
    font-weight: bolder;

}

