* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { background-color: #ACF39D;
}

.navstyle{
    background-color: #343A40;
}
.navlista{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-item{
    margin: 2rem;
}

